$color-primario: #607D8B;
$color-verde: #00bb2d;
$color-blanco: white;
$color-negro: black;



$texto-alineado: center;
$contenedor-flex: flex;


$sizes:(
    2: 2px,
    14: 14px,
    16: 16px,
    20: 20px,
    30: 30px,
    40: 40px,
    50: 50px, 
    100: 100px,
    300: 300px,
    uno: 1rem,

)
